<ion-content class="wrap">
  
  <div class="card">
    
    <div class="accent-bar"></div>

    <div class="brand">
      <div class="brand-icon">
        <img src="assets/logo.svg">
      </div>

      <h1>cashflow</h1>
      <p>Ingresá a tu cuenta personal</p>
    </div>

    <div class="field">
      <label>Usuario</label>
      <div class="input-wrap">
        <input type="text" [(ngModel)]="email" placeholder="ejemplo@email.com" />
      </div>
    </div>

    <div class="field">
      <label>Contraseña</label>
      <div class="input-wrap">
        <input type="password" [(ngModel)]="password" />
      </div>
    </div>

    <label class="error">{{error}}</label>

    <div class="actions">
      <button class="btn-primary" (click)="onLogin()">
        Iniciar sesión
      </button>

      <div class="divider"><span>¿Primera vez?</span></div>

      <button class="btn-secondary" (click)="onRegister()">
        Crear cuenta
      </button>
    </div>

    @if (isLoading) {
      <div class="spiner">  
        <ion-spinner color="tertiary" name="circular"></ion-spinner>
      </div>
    }
  </div>
</ion-content>