<ion-content class="wrap">
  
  <div class="card">
    
    <div class="accent-bar"></div>

    <div class="brand">
      <div class="brand-icon">
        <img src="assets/logo.svg">
      </div>

      <p>cambiar contraseña</p>
    </div>

    <div class="field">
      <label>nueva Contraseña</label>
      <div class="input-wrap">
        <input type="password" [(ngModel)]="newPassword" />
      </div>
    </div>
    
    <div class="field">
      <label>reptir nueva contraseña</label>
      <div class="input-wrap">
        <input type="password" [(ngModel)]="newPasswordToCompare" />
      </div>
    </div>

    <label class="error">{{error}}</label>

    <div class="actions">
      <button class="btn-primary" (click)="ChangePassword()">
        confirmar cambio
      </button>

      <span> -- </span>

      <button class="btn-secondary" (click)="goBack()">
        volver atras
      </button>
    </div>

    @if (isLoading) {
      <div class="spiner">  
        <ion-spinner color="tertiary" name="circular"></ion-spinner>
      </div>
    }
  </div>
</ion-content>